/* INICIO RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* FIN RESET */


/* fuente toda la pagina*/
.body{
	font-family: "futura light", Sans-serif;
	margin: 0;
}

/* fondo del header*/
.header{
	background-image: url(../imagenes/portada9.png);
	height: 40vh;

}


/* slogan en el header:  arte a expresar*/
.portada__slogan{
	font-family: 'Quicksand', sans-serif;
    font-size: 1.8em;
    color: black;
    text-align: right;
    margin: 0 160px 0 300px;
}

.portada__galeria {
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	align-content: center;
}

#sobremi{
	margin-top: 20px;
	color: #54595f;
    display: grid;
    grid-template-areas: 
    "imagen titulo"
    "imagen detalle";
    grid-template-columns: auto 1fr;
    grid-template-rows: 100px auto;
    height: 600px;
}

.sobremi__imagen {
	margin: 30px; 
	grid-area: imagen;
	overflow: hidden;
	width: 927px;
}

.sobremi__imagen--flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	float: left;
	animation: moverContenido 5s;
}

@keyframes moverContenido {
    50%{
		transform: scale(1.5,1.5);
    }
    100%{ 
    	transform: scale(1,1);
    }
}



.sobremi__titulo{
    font-size: 1.8em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-weight: 700;
    grid-area: titulo;
    text-align: center;
    margin-top: 30px;

}

.sobremi__detalle {
	font-family: 'Besley', serif;
	font-size: 0.96em;
	grid-area: detalle;
	margin-right: 100px;
	margin-left: 100px;
	align-self: center;
	justify-self: center;

}

/* iconos de los diferentes servicios*/

.icono {
	display: grid;
	grid-template-areas: 
	"item__1 item__imagen item__4"
	"item__1 item__imagen item__4"
	"item__2 item__imagen item__4"
	"item__2 item__imagen item__5"
	"item__3 item__imagen item__5"
	"item__3 item__imagen item__5";
	grid-template-rows: auto auto 1fr 1fr auto auto;
	grid-template-columns: 25% auto 25%;
	margin-top: 100px;
	width: 1400px;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-bottom: 50px;

}

.item__1{
	grid-area: item__1;
}

.item__2{
	grid-area: item__2;
}
.item__3{
	grid-area: item__3;
	
}
.item__4{
	grid-area: item__4;
	

}
.item__5{
	grid-area: item__5;

}
.item__imagen{
	grid-area: item__imagen;
	align-content: center;
	
}

/* titulo del icono */
.icono__titulo{
	font-size: 1.2em;
	color: #010101;
	flex-grow: 2;

}

/* detalle del icono*/
.icono__detalle{
	font-size: 0.9em;
	color: #555;
	flex-grow: 2;

}

.icono__imagen{
	width: 100px;
}

.cursos{
	font-family: 'IBM Plex Sans Arabic', sans-serif; /*horribe cambiar*/
}

.cursos__titulo{
	color: #555555;
}

.cursos__detalle{
	color: #555;
	line-height: 20px;
}

/*Menu*/ 

ul {
	list-style: none;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	margin-top: 0;

}

.nav {
	margin-left: 10%;
	margin-right: 10%;
	flex-wrap: nowrap;
}
li{
	display: inline-block;
	width: 13%;
	position: relative;

}

a{
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px 10px 10px 10px;
	font-weight: bolder;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	color: black;
	
}

a:hover {
	font-weight: bold;
	color: #3B8282;
}

ul ul {
	position: absolute;
	display: none;
}

ul ul li {
	width: 100%;
}

ul li:hover ul {
	display: block;
}

ul li:hover ul a:hover{
	font-weight: bold;

}

/*termina menu */



.eventos__titulo {
	font-family: 'Raleway', sans-serif;
	color: #333;
	text-transform: uppercase;
	font-size: 2.4em;
}

.eventos__detalle{
	background-color: #F5F5DC;

}



/*pagina de servicios*/
.pag {
	color: #54595f;
	font-family: 'Alata', sans-serif;
	margin-left: 15%;
	margin-right: 15%;
	background-image:/*linear-gradient( rgba(202, 240, 248, 0.1),  rgba(192, 237, 247, 0.2)),*/
	url(../imagenes/axiom-pattern.png);

	 
}
.pag__titulo {
	text-transform: uppercase;
	font-size: 3em;
	text-align: center;
	margin-bottom: 0;
}

.pag__detalle {
	font-size: 1.8em;
	font-weight: lighter;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

.pag__subtitulo {
	font-size: 3em;
	color: #63a8c7;
	margin-bottom: 0;

}


.pag__descripcion {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 10px;
}

.pag__imagen {
	opacity: 90%;
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 450px;
	
}

.galeria {
	display: grid;
	margin: 50px;
	grid-template-columns: 40% auto ;
	grid-template-rows: 1fr 1fr auto auto;
	grid-template-areas: 
	"titulo galeria1"
	"detalle galeria1"
	"galeria3 galeria2"
	"galeria4 galeria2";

}
.galeria__titulo{
	grid-area: titulo;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 3em;
	text-align: center;


}
.galeria__detalle{
	grid-area: detalle;
	font-family: 'Besley', serif;
}
.galeria_item1 {
	grid-area: galeria1;
	margin-bottom: 20px;

}
.galeria_item2 {
	grid-area: galeria2;
	width: 90%;
}
.galeria_item3 {
	grid-area: galeria3;

}
.galeria_item4 {
	grid-area: galeria4;
	width: 90%;

}



/* INICIO FOOTER */

footer{
	height: 150px;
	line-height: 85px;
}

.copyright{
	float: left;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 1.5px;
	margin-bottom: 0px;
}

.social-links li{
	display: inline-block;
	margin-left: 20px;
	float: right;
}

.social-links li a{
	color: #000;
	font-size: 1em;
}

.social-links li a:hover{
	color: #009fff;
}

/* FIN FOOTER */


