/* INICIO RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* FIN RESET */




.carousel-inner{
	height: 650px;
}

#sobremi{
    height: 600px;
}

.cursos{
	font-family: 'IBM Plex Sans Arabic', sans-serif; /*horribe cambiar*/
}

.cursos__titulo{
	color: #555555;
}

.cursos__detalle{
	color: #555;
	line-height: 20px;
}

header {
	font-family: font-family: 'Quicksand', sans-serif;
}

/*INICIO MENÚ*/ 

.item {
	list-style: none;
	background-color: #1c436e;

}

nav {
	background-color: #1c436e;

}
.nav-sub {
	color: white;
}

a{
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px 10px 10px 10px;
	font-weight: bolder;
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	
}

a:hover {
	font-weight: bold;
	color: black;
}

ul ul {
	position: absolute;
	display: none;
}

ul ul li {
	width: 100%;
}

ul li:hover ul {
	display: block;
}

ul li:hover ul a:hover{
	font-weight: bold;

}
/* FIN MENÚ */

.eventos__titulo {
	font-family: 'Raleway', sans-serif;
	color: #333;
	text-transform: uppercase;
	font-size: 2.4em;
}

.eventos__detalle{
	background-color: #F5F5DC;

}



/*pagina de servicios*/
.pag {
	color: #54595f;
	font-family: 'Alata', sans-serif;
	margin-left: 15%;
	margin-right: 15%;
	 
}
.pag__titulo {
	text-transform: uppercase;
	font-size: 3em;
	text-align: center;
	margin-bottom: 0;
}

.pag__detalle {
	font-size: 1.8em;
	font-weight: lighter;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

.pag__subtitulo {
	font-size: 3em;
	color: #63a8c7;
	margin-bottom: 0;

}


.pag__descripcion {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 10px;
}

.pag__imagen {
	opacity: 90%;
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 450px;
	
}

.galeria {
	display: grid;
	margin: 50px;
	grid-template-columns: 40% auto ;
	grid-template-rows: 1fr 1fr auto auto;
	grid-template-areas: 
	"titulo galeria1"
	"detalle galeria1"
	"galeria3 galeria2"
	"galeria4 galeria2";

}
.galeria__titulo{
	grid-area: titulo;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 3em;
	text-align: center;


}
.galeria__detalle{
	grid-area: detalle;
	font-family: 'Besley', serif;
}
.galeria_item1 {
	grid-area: galeria1;
	margin-bottom: 20px;

}
.galeria_item2 {
	grid-area: galeria2;
	width: 90%;
}
.galeria_item3 {
	grid-area: galeria3;

}
.galeria_item4 {
	grid-area: galeria4;
	width: 90%;

}