/* INICIO RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* FIN RESET */


/* fuente toda la pagina*/
.body{
	font-family: "futura light", Sans-serif;
	margin: 0;
}


.carousel-inner{
	height: 620px;
}

#sobremi{
	color: #54595f;
    display: grid;
    grid-template-areas: 
    "imagen titulo"
    "imagen detalle";
    grid-template-columns: auto 1fr;
    grid-template-rows: 100px auto;
    height: 600px;

}

.sobremi__titulo{
    font-size: 1.8em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-weight: 700;
    grid-area: titulo;
    text-align: center;
    margin-top: 30px;

}

.sobremi__detalle {
	font-family: 'Besley', serif;
	font-size: 0.96em;
	grid-area: detalle;
	margin-right: 100px;
	margin-left: 100px;
	align-self: center;
	justify-self: center;

}

/* iconos de los diferentes servicios*/

.icono {
	display: grid;
	grid-template-areas: 
	"item__1 item__imagen item__4"
	"item__1 item__imagen item__4"
	"item__2 item__imagen item__4"
	"item__2 item__imagen item__5"
	"item__3 item__imagen item__5"
	"item__3 item__imagen item__5";
	grid-template-rows: auto auto 1fr 1fr auto auto;
	grid-template-columns: 25% auto 25%;
	margin-top: 100px;
	width: 1400px;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-bottom: 50px;

}

.item__1{
	grid-area: item__1;
}

.item__2{
	grid-area: item__2;
}
.item__3{
	grid-area: item__3;
	
}
.item__4{
	grid-area: item__4;
	

}
.item__5{
	grid-area: item__5;

}
.item__imagen{
	grid-area: item__imagen;
	align-content: center;
	
}

/* titulo del icono */
.icono__titulo{
	font-size: 1.2em;
	color: #010101;
	flex-grow: 2;

}

/* detalle del icono*/
.icono__detalle{
	font-size: 0.9em;
	color: #555;
	flex-grow: 2;

}

.icono__imagen{
	width: 100px;
}

.cursos{
	font-family: 'IBM Plex Sans Arabic', sans-serif; /*horribe cambiar*/
}

.cursos__titulo{
	color: #555555;
}

.cursos__detalle{
	color: #555;
	line-height: 20px;
}

header {
	font-family: font-family: 'Quicksand', sans-serif;;
}

/*INICIO MENÚ*/ 

.item {
	list-style: none;
	background-color: #1c436e;
}

nav {
	background-color: #1c436e;
}

a{
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px 10px 10px 10px;
	font-weight: bolder;
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	color: white;
	
}

a:hover {
	font-weight: bold;
	color: #5A8DC5;
}

ul ul {
	position: absolute;
	display: none;
}

ul ul li {
	width: 100%;
}

ul li:hover ul {
	display: block;
}

ul li:hover ul a:hover{
	font-weight: bold;

}
/* FIN MENÚ */

.eventos__titulo {
	font-family: 'Raleway', sans-serif;
	color: #333;
	text-transform: uppercase;
	font-size: 2.4em;
}

.eventos__detalle{
	background-color: #F5F5DC;

}



/*pagina de servicios*/
.pag {
	color: #54595f;
	font-family: 'Alata', sans-serif;
	margin-left: 15%;
	margin-right: 15%;
	 
}
.pag__titulo {
	text-transform: uppercase;
	font-size: 3em;
	text-align: center;
	margin-bottom: 0;
}

.pag__detalle {
	font-size: 1.8em;
	font-weight: lighter;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

.pag__subtitulo {
	font-size: 3em;
	color: #63a8c7;
	margin-bottom: 0;

}


.pag__descripcion {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 10px;
}

.pag__imagen {
	opacity: 90%;
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 450px;
	
}

.galeria {
	display: grid;
	margin: 50px;
	grid-template-columns: 40% auto ;
	grid-template-rows: 1fr 1fr auto auto;
	grid-template-areas: 
	"titulo galeria1"
	"detalle galeria1"
	"galeria3 galeria2"
	"galeria4 galeria2";

}
.galeria__titulo{
	grid-area: titulo;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 3em;
	text-align: center;


}
.galeria__detalle{
	grid-area: detalle;
	font-family: 'Besley', serif;
}
.galeria_item1 {
	grid-area: galeria1;
	margin-bottom: 20px;

}
.galeria_item2 {
	grid-area: galeria2;
	width: 90%;
}
.galeria_item3 {
	grid-area: galeria3;

}
.galeria_item4 {
	grid-area: galeria4;
	width: 90%;

}

/* INICIO REGISTRO */


.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#registro {
	font-family: 'Alice', serif;
	background: #88A5AB;
}

.registro-form {
	position: relative;
	max-width: 912px;
	width: 100%;
	margin: auto;
	background: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
}

.registro-form .registro-bg {
	position: absolute;
	left: 25px;
	top: -25px;
	bottom: -25px;
	width: 400px;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
	padding: 25px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.registro-form .registro-bg::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #B3D6E1;
}

.registro-form>form {
	margin-left: 425px;
	padding: 30px;
}

.registro-form .form-header {
	margin-bottom: 30px;
	margin-top: 60px;
	position: relative;
	z-index: 20;
}

.registro-form .form-header h2 {
	font-family: 'Playfair Display', serif;
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 900;
	color: #fff;
	font-size: 42px;
	text-transform: capitalize;
}

.registro-form .form-header p {
	color: #fff;
	font-size: 18px;
}

.registro-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.registro-form .form-control {
	background-color: #fff;
	height: 45px;
	padding: 0px 15px;
	color: #151515;
	border: 1px solid #e5e5e5;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.registro-form .form-control::-webkit-input-placeholder {
	color: #e5e5e5;
}

.registro-form .form-control:-ms-input-placeholder {
	color: #e5e5e5;
}

.registro-form .form-control::placeholder {
	color: #e5e5e5;
}

.registro-form .form-control:focus {
	background: #f8f8f8;
}

.registro-form input[type="date"].form-control:invalid {
	color: #e5e5e5;
}

.registro-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.registro-form select.form-control:invalid {
	color: #e5e5e5;
}

.registro-form select.form-control option {
	color: #151515;
}

.registro-form select.form-control+.select-arrow {
	position: absolute;
	right: 3px;
	bottom: 5px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #e5e5e5;
	font-size: 14px;
}

.registro-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.registro-form .form-label {
	color: #88a5ab;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	font-weight: 400;
	margin-left: 20px;
}

.registro-form .form-btn {
	margin-top: 30px;
}

.registro-form .submit-btn {
	display: block;
	width: 100%;
	color: #fff;
	background-color: #88A5AB;
	font-weight: 700;
	font-size: 18px;
	border: none;
	border-radius: 40px;
	height: 55px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.registro-form .submit-btn:hover,
.registro-form .submit-btn:focus {
	background-color: #b3d6e1;
}

@media only screen and (max-width: 768px) {
	.registro-form .registro-bg {
		position: relative;
		left: 0;
		right: 0;
		bottom: 0;
		top: -15px;
		width: 95%;
		margin: auto;
	}
	.registro-form>form {
		margin-left: 0px;
	}
}

/* FIN REGISTRO */


/* INICIO FOOTER */

footer{
	height: 150px;
	line-height: 85px;
}

.copyright{
	float: left;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 1.5px;
	margin-bottom: 0px;
}

.social-links li{
	display: inline-block;
	margin-left: 20px;
	float: right;
}

.social-links li a{
	color: #000;
	font-size: 1em;
}

.social-links li a:hover{
	color: #009fff;
}

/* FIN FOOTER */


