@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley&family=Raleway:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley&family=Raleway:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley&family=Raleway:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley&family=Raleway:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley&family=Raleway:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:ital@1&display=swap");
.item-1, .item-1--modificado {
  font-family: Montserrat, sans-serif;
  font-size: 3em;
  text-align: left;
  margin-top: 6%; }

.item-2 {
  border-top: solid;
  font-family: Besley, serif;
  font-size: 2em;
  text-align: center;
  margin-top: 6%; }

.item-3 {
  color: #54595f;
  font-family: Besley, serif;
  font-size: 1em;
  text-align: center;
  margin-top: 6%; }

.item-1--modificado {
  font-family: Quicksand, sans-serif;
  text-align: center; }

.mycol-sm-1 {
  width: 26.66667px; }

.mycol-md-1 {
  width: 40px; }

.mycol-lg-1 {
  width: 50px; }

.mycol-xl-1 {
  width: 64px; }

.mycol-xxl-1 {
  width: 85.33333px; }

.mycol-1 {
  width: 100px; }

.mycol-sm-2 {
  width: 53.33333px; }

.mycol-md-2 {
  width: 80px; }

.mycol-lg-2 {
  width: 100px; }

.mycol-xl-2 {
  width: 128px; }

.mycol-xxl-2 {
  width: 170.66667px; }

.mycol-2 {
  width: 200px; }

.mycol-sm-3 {
  width: 80px; }

.mycol-md-3 {
  width: 120px; }

.mycol-lg-3 {
  width: 150px; }

.mycol-xl-3 {
  width: 192px; }

.mycol-xxl-3 {
  width: 256px; }

.mycol-3 {
  width: 300px; }

.mycol-sm-4 {
  width: 106.66667px; }

.mycol-md-4 {
  width: 160px; }

.mycol-lg-4 {
  width: 200px; }

.mycol-xl-4 {
  width: 256px; }

.mycol-xxl-4 {
  width: 341.33333px; }

.mycol-4 {
  width: 400px; }

.mycol-sm-5 {
  width: 133.33333px; }

.mycol-md-5 {
  width: 200px; }

.mycol-lg-5 {
  width: 250px; }

.mycol-xl-5 {
  width: 320px; }

.mycol-xxl-5 {
  width: 426.66667px; }

.mycol-5 {
  width: 500px; }

.mycol-sm-6 {
  width: 160px; }

.mycol-md-6 {
  width: 240px; }

.mycol-lg-6 {
  width: 300px; }

.mycol-xl-6 {
  width: 384px; }

.mycol-xxl-6 {
  width: 512px; }

.mycol-6 {
  width: 600px; }

.mycol-sm-7 {
  width: 186.66667px; }

.mycol-md-7 {
  width: 280px; }

.mycol-lg-7 {
  width: 350px; }

.mycol-xl-7 {
  width: 448px; }

.mycol-xxl-7 {
  width: 597.33333px; }

.mycol-7 {
  width: 700px; }

.mycol-sm-8 {
  width: 213.33333px; }

.mycol-md-8 {
  width: 320px; }

.mycol-lg-8 {
  width: 400px; }

.mycol-xl-8 {
  width: 512px; }

.mycol-xxl-8 {
  width: 682.66667px; }

.mycol-8 {
  width: 800px; }

.mycol-sm-9 {
  width: 240px; }

.mycol-md-9 {
  width: 360px; }

.mycol-lg-9 {
  width: 450px; }

.mycol-xl-9 {
  width: 576px; }

.mycol-xxl-9 {
  width: 768px; }

.mycol-9 {
  width: 900px; }

.mycol-sm-10 {
  width: 266.66667px; }

.mycol-md-10 {
  width: 400px; }

.mycol-lg-10 {
  width: 500px; }

.mycol-xl-10 {
  width: 640px; }

.mycol-xxl-10 {
  width: 853.33333px; }

.mycol-10 {
  width: 1000px; }

.mycol-sm-11 {
  width: 293.33333px; }

.mycol-md-11 {
  width: 440px; }

.mycol-lg-11 {
  width: 550px; }

.mycol-xl-11 {
  width: 704px; }

.mycol-xxl-11 {
  width: 938.66667px; }

.mycol-11 {
  width: 1100px; }

.mycol-sm-12 {
  width: 320px; }

.mycol-md-12 {
  width: 480px; }

.mycol-lg-12 {
  width: 600px; }

.mycol-xl-12 {
  width: 768px; }

.mycol-xxl-12 {
  width: 1024px; }

.mycol-12 {
  width: 1200px; }

.mycol-sm-1 {
  width: 26.66667px; }

.mycol-md-1 {
  width: 40px; }

.mycol-lg-1 {
  width: 50px; }

.mycol-xl-1 {
  width: 64px; }

.mycol-xxl-1 {
  width: 85.33333px; }

.mycol-1 {
  width: 100px; }

.mycol-sm-2 {
  width: 53.33333px; }

.mycol-md-2 {
  width: 80px; }

.mycol-lg-2 {
  width: 100px; }

.mycol-xl-2 {
  width: 128px; }

.mycol-xxl-2 {
  width: 170.66667px; }

.mycol-2 {
  width: 200px; }

.mycol-sm-3 {
  width: 80px; }

.mycol-md-3 {
  width: 120px; }

.mycol-lg-3 {
  width: 150px; }

.mycol-xl-3 {
  width: 192px; }

.mycol-xxl-3 {
  width: 256px; }

.mycol-3 {
  width: 300px; }

.mycol-sm-4 {
  width: 106.66667px; }

.mycol-md-4 {
  width: 160px; }

.mycol-lg-4 {
  width: 200px; }

.mycol-xl-4 {
  width: 256px; }

.mycol-xxl-4 {
  width: 341.33333px; }

.mycol-4 {
  width: 400px; }

.mycol-sm-5 {
  width: 133.33333px; }

.mycol-md-5 {
  width: 200px; }

.mycol-lg-5 {
  width: 250px; }

.mycol-xl-5 {
  width: 320px; }

.mycol-xxl-5 {
  width: 426.66667px; }

.mycol-5 {
  width: 500px; }

.mycol-sm-6 {
  width: 160px; }

.mycol-md-6 {
  width: 240px; }

.mycol-lg-6 {
  width: 300px; }

.mycol-xl-6 {
  width: 384px; }

.mycol-xxl-6 {
  width: 512px; }

.mycol-6 {
  width: 600px; }

.mycol-sm-7 {
  width: 186.66667px; }

.mycol-md-7 {
  width: 280px; }

.mycol-lg-7 {
  width: 350px; }

.mycol-xl-7 {
  width: 448px; }

.mycol-xxl-7 {
  width: 597.33333px; }

.mycol-7 {
  width: 700px; }

.mycol-sm-8 {
  width: 213.33333px; }

.mycol-md-8 {
  width: 320px; }

.mycol-lg-8 {
  width: 400px; }

.mycol-xl-8 {
  width: 512px; }

.mycol-xxl-8 {
  width: 682.66667px; }

.mycol-8 {
  width: 800px; }

.mycol-sm-9 {
  width: 240px; }

.mycol-md-9 {
  width: 360px; }

.mycol-lg-9 {
  width: 450px; }

.mycol-xl-9 {
  width: 576px; }

.mycol-xxl-9 {
  width: 768px; }

.mycol-9 {
  width: 900px; }

.mycol-sm-10 {
  width: 266.66667px; }

.mycol-md-10 {
  width: 400px; }

.mycol-lg-10 {
  width: 500px; }

.mycol-xl-10 {
  width: 640px; }

.mycol-xxl-10 {
  width: 853.33333px; }

.mycol-10 {
  width: 1000px; }

.mycol-sm-11 {
  width: 293.33333px; }

.mycol-md-11 {
  width: 440px; }

.mycol-lg-11 {
  width: 550px; }

.mycol-xl-11 {
  width: 704px; }

.mycol-xxl-11 {
  width: 938.66667px; }

.mycol-11 {
  width: 1100px; }

.mycol-sm-12 {
  width: 320px; }

.mycol-md-12 {
  width: 480px; }

.mycol-lg-12 {
  width: 600px; }

.mycol-xl-12 {
  width: 768px; }

.mycol-xxl-12 {
  width: 1024px; }

.mycol-12 {
  width: 1200px; }

.section123 {
  margin-top: 3%;
  text-align: center;
  height: auto; }

.section123-title, .footer-title {
  font-family: Montserrat, sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-top: 3%;
  margin-bottom: 5%; }

.section123-description {
  color: #54595f;
  font-family: Lora, serif;
  font-size: 1.2em; }

.mycol-sm-1 {
  width: 26.66667px; }

.mycol-md-1 {
  width: 40px; }

.mycol-lg-1 {
  width: 50px; }

.mycol-xl-1 {
  width: 64px; }

.mycol-xxl-1 {
  width: 85.33333px; }

.mycol-1 {
  width: 100px; }

.mycol-sm-2 {
  width: 53.33333px; }

.mycol-md-2 {
  width: 80px; }

.mycol-lg-2 {
  width: 100px; }

.mycol-xl-2 {
  width: 128px; }

.mycol-xxl-2 {
  width: 170.66667px; }

.mycol-2 {
  width: 200px; }

.mycol-sm-3 {
  width: 80px; }

.mycol-md-3 {
  width: 120px; }

.mycol-lg-3 {
  width: 150px; }

.mycol-xl-3 {
  width: 192px; }

.mycol-xxl-3 {
  width: 256px; }

.mycol-3 {
  width: 300px; }

.mycol-sm-4 {
  width: 106.66667px; }

.mycol-md-4 {
  width: 160px; }

.mycol-lg-4 {
  width: 200px; }

.mycol-xl-4 {
  width: 256px; }

.mycol-xxl-4 {
  width: 341.33333px; }

.mycol-4 {
  width: 400px; }

.mycol-sm-5 {
  width: 133.33333px; }

.mycol-md-5 {
  width: 200px; }

.mycol-lg-5 {
  width: 250px; }

.mycol-xl-5 {
  width: 320px; }

.mycol-xxl-5 {
  width: 426.66667px; }

.mycol-5 {
  width: 500px; }

.mycol-sm-6 {
  width: 160px; }

.mycol-md-6 {
  width: 240px; }

.mycol-lg-6 {
  width: 300px; }

.mycol-xl-6 {
  width: 384px; }

.mycol-xxl-6 {
  width: 512px; }

.mycol-6 {
  width: 600px; }

.mycol-sm-7 {
  width: 186.66667px; }

.mycol-md-7 {
  width: 280px; }

.mycol-lg-7 {
  width: 350px; }

.mycol-xl-7 {
  width: 448px; }

.mycol-xxl-7 {
  width: 597.33333px; }

.mycol-7 {
  width: 700px; }

.mycol-sm-8 {
  width: 213.33333px; }

.mycol-md-8 {
  width: 320px; }

.mycol-lg-8 {
  width: 400px; }

.mycol-xl-8 {
  width: 512px; }

.mycol-xxl-8 {
  width: 682.66667px; }

.mycol-8 {
  width: 800px; }

.mycol-sm-9 {
  width: 240px; }

.mycol-md-9 {
  width: 360px; }

.mycol-lg-9 {
  width: 450px; }

.mycol-xl-9 {
  width: 576px; }

.mycol-xxl-9 {
  width: 768px; }

.mycol-9 {
  width: 900px; }

.mycol-sm-10 {
  width: 266.66667px; }

.mycol-md-10 {
  width: 400px; }

.mycol-lg-10 {
  width: 500px; }

.mycol-xl-10 {
  width: 640px; }

.mycol-xxl-10 {
  width: 853.33333px; }

.mycol-10 {
  width: 1000px; }

.mycol-sm-11 {
  width: 293.33333px; }

.mycol-md-11 {
  width: 440px; }

.mycol-lg-11 {
  width: 550px; }

.mycol-xl-11 {
  width: 704px; }

.mycol-xxl-11 {
  width: 938.66667px; }

.mycol-11 {
  width: 1100px; }

.mycol-sm-12 {
  width: 320px; }

.mycol-md-12 {
  width: 480px; }

.mycol-lg-12 {
  width: 600px; }

.mycol-xl-12 {
  width: 768px; }

.mycol-xxl-12 {
  width: 1024px; }

.mycol-12 {
  width: 1200px; }

.section123 {
  margin-top: 3%;
  text-align: center;
  height: auto; }

.section123-title, .footer-title {
  font-family: Montserrat, sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-top: 3%;
  margin-bottom: 5%; }

.section123-description {
  color: #54595f;
  font-family: Lora, serif;
  font-size: 1.2em; }

footer {
  height: 35vh;
  background-color: #BCDEEB; }

.footer-sec {
  margin-top: 5%; }

.footer-title {
  text-align: center; }

.footer-description {
  font-family: Lora, serif;
  font-size: 1em;
  color: black;
  text-align: center; }

.footer-end {
  border-top: solid;
  border-width: 1px;
  margin-top: 2%; }

body {
  font-family: Besley, serif; }

.section-img {
  height: 600px;
  overflow: hidden;
  margin-top: 150px; }

.margenes {
  margin-bottom: 50px; }

.button {
  font-family: Playfair Display, serif;
  font-style: italic;
  background-color: black;
  color: white;
  border: hidden;
  width: 8em;
  height: 3em;
  position: relative;
  margin: -20px -50px;
  top: 50%;
  left: 50%;
  margin-bottom: 5%; }

.imagen-sec {
  height: 520px; }
