$ancho-del-contenedor-sm: 320px;
$ancho-del-contenedor-md: 480px;
$ancho-del-contenedor-lg: 600px;
$ancho-del-contenedor-xl: 768px;
$ancho-del-contenedor-xxl: 1024px;
$ancho-del-contenedor: 1200px;

@for $i from 1 through 12 {
	.mycol-sm-#{$i}{
		width: $ancho-del-contenedor-sm /12 * $i;
	}
	.mycol-md-#{$i}{
		width: $ancho-del-contenedor-md /12 * $i;
	}
	.mycol-lg-#{$i}{
		width: $ancho-del-contenedor-lg /12 * $i;
	}
	.mycol-xl-#{$i}{
		width: $ancho-del-contenedor-xl /12 * $i;
	}
	.mycol-xxl-#{$i}{
		width: $ancho-del-contenedor-xxl /12 * $i;
	}
	.mycol-#{$i}{
		width: $ancho-del-contenedor /12 * $i;
	}

}

