@import "fonts";
@import "section";
@import "mobile";
@import "section123";
@import "footer";


body{
	font-family: $detalle-font;
}

.section-img{
	height: 600px;
	overflow: hidden;
	margin-top: 150px;
}

.margenes {
	margin-bottom: 50px;
}
.button {
	font-family: $button-font;
	font-style: italic;
	background-color: black;
	color: white;
	border: hidden;
	width: 8em;
	height: 3em;
	position: relative;
	margin: -20px -50px; 
    top:50%; 
    left:50%;
    margin-bottom: 5%;

}

.imagen-sec {
	height: 520px;
}

